div {
	height: 300px;
	width: 225px;
	display: inline-block;
	border: 2px solid black;
	margin: 5px;
	vertical-align: top;
}
#box1 {
	background-image: url('greenback.jpg');
}
#box2 {
	background-image: url('blackback.jpg');
}
#box3 {
	background-image: url('purpleback.jpg');
}
#box4 {
	background-image: url('blueback.jpg');
}
img {
	vertical-align: top;
}